<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.chasemvp"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Here put Permissions -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- End of Permissions -->





    <application
        android:allowBackup="true"
        android:name=".Application.ChaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->

        <!-- SPECIAL FACEBOOK -->

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        ...
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- END OF FACEBOOK -->

        <!-- External APIs -->
        <!-- GOOGLE MAP APIS  -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCxFFZBhOPGfvlVZWc9T_y8tSB0jTxQToM" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- End of External APIs -->





        <activity android:name=".UI.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <activity
            android:name=".UI.Activities.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">


        </activity>

        <activity
            android:name=".UI.Activities.Map"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

        </activity>
        <activity
            android:name=".UI.Activities.FullActivityAd"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <activity
            android:name=".UI.Activities.Score"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <activity
            android:name=".UI.Activities.Room"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">


        </activity>


        <activity
            android:name=".UI.Activities.ChoosePseudo"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>





        <activity
            android:name=".UI.Activities.SoloMap"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <activity
            android:name=".UI.Activities.Discover"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <!-- End of Activities -->

        <!-- Services -->
        <service android:name=".Model.Services.AuthService" />
        <service
            android:name=".Model.Services.LocationTrackingService"
            android:exported="false"/>
        <!-- End of Services -->

        <!--- Receivers -->
        <receiver
            android:name=".Model.Services.NetworkService">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Model.Services.GpsService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.MODE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>